  
/attendance-management-system/build/
/attendance-management-system/dist/
/attendance-management-system/nbproject/private/
/attendance-management-system/web/META-INF/
/attendance-management-system/web/WEB-INF/
/.vs/
/build/
/attendance-management-system/nbproject/genfiles.properties
/attendance-management-system/nbproject/build-impl.xml
/attendance-management-system/Format.java