/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2021, 8:53:33 PM
    Author     : PRAJAPATI GAURAV
*/

.logo{
    float: left;
    color: whitesmoke;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.navItem ul li{
    padding: 10px 10px 10px 30px;
    list-style: none;
    display: inline-block;
    padding-right: 40px;
        
}
.navItem ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.navItem ul{
    float: right;
}
.navItem{
    height: 50px;
    background-color: black;
    color: white;
}
body{
    background-color: #C0C0C0;
}
h1{
   
   text-align:center;
}
.editpage{
    width: 85%;
     background-color: #b76e79;
}
.studentheader{
    font-size: 20px;
    font-weight: bold;
    font-family:Futura Condensed Extra Bold;
    color: #183C28;
}
.viewtable table{
  width: 85%;
text-align: center;
background-color: #072f5f;
font-weight: bold;
font-size: 20px;  
color: white;
    
}
.tables table{ 
width: 85%;
text-align: center;
background-color: #E18A07;
font-weight: bold;
font-size: 20px;
}
.teacherdashboard{
    width: 85%;
text-align: center;
background-color: #FF7300;
font-weight: bold;
font-size: 20px;
}
.studenttable table{
   width: 85%;
text-align: center;
background-color: #183C28;
color: white;
font-weight: bold;
font-size: 18px; 
    
}